html,
body,
h1,
h2,
h3,
h4,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    font-family: "Barlow", sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

.icon {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.icon:hover {
    opacity: 1;
}
